* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: grey;
  font-size: 1.1rem;
  width: 100%;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
}

.grid-item {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.grid-item p {
  padding: 5px;
  text-align: center;
}

.grid-item img {
  max-height: 170px;
}
